### 공통 ###
# OS / 시스템 파일

# 로그 & 크래시 덤프
*.log
hs_err_pid*
replay_pid*

---

### Backend (Spring Boot) ###
# Gradle
backend/.gradle/
backend/build/
backend/out/

# 자바 빌드 산출물 #
*.class
*.jar
*.war
*.nar
*.ear

# 환경 설정
backend/src/main/resources/application-secret.yml

# IntelliJ
backend/.idea/

---

### Frontend (Vue) ###